extends layout

block content
    h1= title
    div
        p Phone Number:
            input#phone(type="text")
    div
        embed#svg(src="/captcha/")
        input#captcha(type="text")
    div
        input.send(type="button", value="send sms")
        p#sms_result
