doctype html
html
  head
    meta(charset="UTF-8")
    |
    title 北航软件学院研究生复试调剂信息平台
    |
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0")
    |
    link(rel="stylesheet", href="/stylesheets/index-min.css")
    |
  body
    block content
  script(src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
  script(src="/javascripts/index.js")
